@model ProyectoFinal2023.Models.TbAutorLibro

<html>

<head>
    <link rel="stylesheet" href="~/css/SSIndex.css" />
    <link rel="stylesheet" href="~/css/SSItems.css" />
    <link rel="stylesheet" href="~/css/SSTablas.css" />

</head>
<a href="/Autor/AutorTabla">
    <img class="btnRetroceder" src="~/css/images/flechita.png" alt="back" />
</a>
<body>
    <h3 class="fuenteInfoTitulo"> Obras que escribio @ViewBag.ElAutor.NomAutor </h3>
    
    <br />
    <br />
    <br />


    <table class="tableCarro table-hover">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Titulo del libro</td>
                <td scope="col">Género</td>
                <td scope="col">Fecha de publicación</td>
                <td scope="col"></td>

            </tr>
        </thead>
        @foreach (var data in ViewBag.LosLibros)
        {
            <tr>
                <td>@data.IdLibro</td>
                <td>@data.TituloLibro</td>
                <td>@data.GeneroLibro</td>
                <td>@data.FecPublic</td>
                <td>
                    <form asp-controller="Autor" asp-action="removeLibroDeAutor" method="post">
                        <input type="hidden" asp-for="IdLibro" value="@data.IdLibro.Trim()" />
                        <input type="hidden" asp-for="IdAutor" value="@ViewBag.ElAutor.IdAutor.Trim()" />
                        <button type="submit" class="estiloa1">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>
