@model ProyectoFinal2023.Models.TbEditorialLibro



<html>
<head>
    <link rel="stylesheet" href="~/css/SSIndex.css" />
    <link rel="stylesheet" href="~/css/SSItems.css" />
    <link rel="stylesheet" href="~/css/SSTablas.css" />

</head>
<a href="/Libro/LibroTabla">
    <img class="btnRetroceder" src="~/css/images/flechita.png" alt="back" />
</a>
<body>
    
    <h3 class="fuenteInfoTitulo"> Editoriales a cargo de la obra @ViewBag.ElLibro.TituloLibro </h3>
    <br />
    <br />
    <br />
    <h3 class="estiloa1">Añadir editorial: </h3>
    <form asp-controller="Libro" asp-action="AgregarEditorialLibro" method="post">
        <input type="hidden" asp-for="IdLibro" value="@ViewBag.ElLibro.IdLibro" />
        <select asp-for="IdEditorial" asp-items='@(new SelectList(ViewBag.ListaEditoriales,"IdEditorial","NomEditorial"))'></select>
        <button type="submit" class="btn btn-primary"> Añadir </button>
    </form>

    <br />
    <br />
    <br />


    <table class="tableCarro table-hover">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Nombre de la editorial</td>
                <td scope="col">Dirección</td>
                <td scope="col">Teléfono</td>
                <td scope="col"></td>

            </tr>
        </thead>
        @foreach (var data in ViewBag.LasEditoriales)
        {
            <tr>
                <td>@data.IdEditorial</td>
                <td>@data.NomEditorial</td>
                <td>@data.DirEditorial</td>
                <td>@data.TlfEditorial</td>
                <td>
                    <form asp-controller="Editorial" asp-action="removeEditorialDeLibro" method="post">
                        <input type="hidden" asp-for="IdLibro" value="@ViewBag.ElLibro.IdLibro.Trim()" />
                        <input type="hidden" asp-for="IdEditorial" value="@data.IdEditorial.Trim()" />
                        <button type="submit" class="estiloa1">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>
